:root {
    --colorPrimary: #e6f4f1;
    --colorPrimary: #ebfaff;
    --colorSecundary: #00205d;
  }

  * {
    margin: 0;
    border: 0;
    box-sizing: border-box;
  }

  .parent{
      height: 100vh;
      width: 100%;
      min-width: 320px;
      display: grid;
      grid-template-rows: 80px repeat(6,1fr); 
      position: relative;
  }

  header{
      width: 100%;
      height: 100%;
      background-color: var(--colorPrimary);
      display: flex;
      justify-content: space-between;
      align-items: center;
  }

    .logo{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40%;
        height: inherit;
    }

    .logo img{
        width: 40px;
        height: 60px;
        object-fit: contain;
    }

    .logo p{
        font-family: 'Noto Sans JP', sans-serif;
        font-weight: 500;
        font-size: 18px;
        line-height: 20px;
        color: var(--colorSecundary);
    }

    .menu{
        width: 20%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }



     .menu-icon{
         color:var(--colorSecundary) ;
         font-size: 24px;
     }

     .exit-menu-icon{
         position: absolute;
         font-size: 30px;
         top: 30px;
         right: 30px;
         cursor: pointer;
     }

     .menu-items{
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        background: var(--colorSecundary);
        width: 100vw;
        height: 100vh;
        opacity: 0.9;
        color: white;
        font-size: 23px;
     }

     .menu-items ul{
        list-style: none;
        padding: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        flex-flow: column;
        justify-content: space-evenly;
        align-items: center;
     }


     
     .menu-items ul li{
       cursor: pointer;
     }
     
     .menu-items ul li a{
        text-decoration: none;
        color: white;
      }

     .hero{
         width: 100%;
         height: 500px;
        
     }

     .img_Principal{
         background-image: url(./assets/images/bannerLimpiecito.jpg);
         width: 100%;
         height: 500px;
         background-size: cover;
         background-repeat: no-repeat;
         background-position: center top;
     }


     .product{

        font-family: 'EB Garamond', serif;
        font-size: 17px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-bottom: 100px;
     }

     .product h2{
        font-weight: 500;
        font-size: 25px;
        color: #323333;
        width: 100%;
        text-align: center;
     }

     .product article{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        border: 3px solid #ebfaff;
        --border: 1px solid #3a6ccc;
        border-radius: 10px;
        margin: 15px;
        box-shadow: 0 10px 11px -5px rgba(83,104,223,0.3);
        min-width: 280px;
        max-width: 400px;
     }

     .product article h3{
        font-size: 20px;
        font-weight:600 ;
        color: #323333;
        margin-top: 20px;
     }
     

     .product ul{
        list-style: none;
        padding: 20px;
     }

     .product li{
        list-style: none;
        padding: 5px 0px;
     }

     .product li::before{
         content: "*" ;
         font-size: 17px;
         color: #00205d;
     }
     


     .opinion{
         display: flex;
         flex-wrap: wrap;
         justify-content: center;

     }

     .opinion h2{
        font-weight: 500;
        font-size: 25px;
        color: #323333;
        width: 100%;
        text-align: center;
        line-height: 45px;
        margin: 20px 0;
     }

     .wave{
         content: url(./assets/icons/wave.svg);
         width: 100%;
     }

     .opinion_item{
         min-width: 260px;
     }


     .features{
         display: flex;
         flex-wrap: wrap;
         justify-content: center;

     }

     .features .Caracteristicas{
         min-width: 300px;
        padding: 50px 20px;
         display: flex;
         flex-wrap: wrap;
         justify-content: center;
         text-align: center;
     }


     .Caracteristicas i{
         width: 100%;
         height: 50px;
         font-size: 50px;
         color: var(--colorSecundary);
         display: flex;
         justify-content: center;
     }

     .Caracteristicas p{
        color: #323333;
        font-family:  'EB Garamond', serif;
        font-weight: 500;
        font-size: 25px;
     }

     
     footer{
         display: flex;
         flex-wrap: wrap;
         justify-content: center;
         align-items: center;
         background-color: var(--colorPrimary);
     }

     footer h2 {
         width: 100%;
         text-align: center;
        padding: 20px 0;
        font-family:  'EB Garamond', serif;
        font-weight: 500;
        font-size: 25px;
        color: #323333;
     }



     footer div{
         width: 100%;
         display: flex;
         justify-content: center;
     }


     .social-media{
         display: flex;
         flex-wrap: wrap;
         justify-content: space-evenly;
         width: 40%;
         height: 60px;
     }


     .social-media a{
         color: var(--colorSecundary);
         font-size: 30px;
         cursor:pointer;

     }


     .personal-contact{
         display: flex;
         flex-wrap: wrap;
         justify-content: center;
         align-items: center;
         height: 70px;
         margin-bottom: 20px;
     }

     .personal-contact a{
         width: 100%;
         text-align: center;
        text-decoration: none;
        color: #323333;
        font-family:  'EB Garamond', serif;
        font-weight: 500;
        font-size: 17px;
     }




     .credits{
        
        display: flex;
        align-items: center;
         background-color: var(--colorSecundary);
         color: var(--colorPrimary);
         font-family: 'Noto Sans JP', sans-serif;
         font-weight: 500;
         font-size: 12px;
     }

     .credits a{
         color: #AF8D00;
         text-decoration: none;

     }

     .credits i{
         color:#AF8D00 ;
     }
